<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--<bean id="square" class="org.prajesh.javabrains.shapes.Square">-->
    <!--<property name="squarePoints" ref="squarePoints"/>-->
    <!--</bean>-->

    <bean id="center" class="org.prajesh.javabrains.beans.Point">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>

    <!--<bean id="squarePoints" class="org.prajesh.javabrains.beans.Point">-->
    <!--<property name="x" value="20"/>-->
    <!--<property name="y" value="20"/>-->
    <!--</bean>-->

    <bean id="circle" class="org.prajesh.javabrains.shapes.Circle">
        <!--<property name="center" ref="circlePoints"/>-->
    </bean>

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

</beans>